@import '../../scss/config';

.signinSignupPage {
  margin-top: 60px;
  @include mediaLg {
    margin-top: 80px;
  }
}
.signinSignupWrapper {
  display: grid;
  grid-gap: 82px;

  @include mediaLg {
    grid-template-columns: 1fr 1fr;
  }
}
