@import '../../scss/config';

.collectionPreivew {
  display: grid;
  grid-gap: 8px;
  @include mediaLg {
    grid-gap: 12px;
  }

  h1.title {
    text-transform: uppercase;
    @include headingFont;
  }

  .preview {
    display: grid;
    grid-gap: 22px 8px;
    grid-template-columns: 1fr 1fr;

    @include mediaLg {
      grid-gap: 12px;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
